* {
  box-sizing: border-box;
}

html {
  background-color: #f1f1f1;
}

body {
  margin: 2.2rem;
}

#resume {
  margin: auto;
  min-width: 310px;
  width: 666px;
  font: 16px Arial, sans-serif;
  line-height: 24px;
  color: #000;
}

#resume h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -1px;
  border-bottom: 1px solid #999;
}

#resume h2 {
  margin: 0 0 6px 0;
  font-size: 22px;
  position: relative;
}

#resume h2 span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #999;
  font-style: italic;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 16px;
}

#resume h3 {
  margin: 0 0 6px 0;
  font-size: 18px;
  position: relative;
}

#resume h3 span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #999;
  font-style: italic;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 14px;
}

#resume h4 {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-weight: normal;
}

#resume p {
  margin: 0;
  text-align: justify;
}

#resume ul {
  margin: 0;
  text-align: justify;
}

#resume .details {
  margin: 4px 0 4px 0;
}

#resume .fcc {
  color: #999;
  font-style: italic;
}

#resume a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

#resume a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

#resume dt {
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  border-right: 1px solid #999;
}

#resume dl {
  display: table-row;
}

#resume dl dt,
#resume dl dd {
  display: table-cell;
  /* padding-bottom: 20px; */
}

#resume dl dd {
  width: 500px;
  padding-left: 26px;
}

@media screen and (max-width: 1100px) {
  #resume h2 span,
  #resume h3 span {
    position: static;
    display: block;
    margin-top: 2px;
  }
}

@media screen and (max-width: 550px) {
  body {
    margin: 1rem;
  }
  #resume {
    padding: 20px;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  body {
    margin: 0;
  }

  #resume dl dt {
    border-right: none;
    border-bottom: 1px solid #999;
  }
  #resume dl,
  #resume dl dd,
  #resume dl dt {
    display: block;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
    text-align: left;
    width: 100%;
  }

  #resume dl dd {
    margin-top: 6px;
  }
  #resume h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }

  #resume h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  #resume dt {
    font-size: 18px;
  }
  h1 {
    font-size: 36px;
    margin-right: 0;
    line-height: 0;
  }
}
